<style>

     body{
         background-color: white;
     }
    @media only screen
    and (max-width: 736px) {
        .mobile {
            display:block;
        }
        .desktop {
            display:none;
        }
        .tablet {
            display:none;
        }
    }

    @media only screen
    and (min-width: 736px)
    and (max-width: 1200px){
        .tablet {
            display:block;
        }
        .desktop {
            display:none;
        }
        .mobile {
            display:none;
        }
    }

    @media only screen
    and (min-width: 1200px) {
        .desktop {
            display:block;
        }
        .tablet {
            display:none;
        }
        .mobile {
            display:none;
        }
    }


</style>
<div  ng-controller="sideNav" class="header" >

    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Navigate</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
                    <md-tooltip>Close Side Panel</md-tooltip>
                    <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding="">
            <md-list>
                <md-subheader class="md-no-sticky">Favorites</md-subheader>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE88A;</md-icon>
                    <p><a ui-sref="home">Home</a></p>
                    <div class="md-secondary"></div>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE851;</md-icon>
                    <!--<p><a ui-sref="users">Users</a></p>-->
                    <p>Users</p>
                    <md-icon class="md-secondary">2</md-icon>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE8F0;</md-icon>
                    <!--<p><a ui-sref="tags">Tags</a></p> -->
                    <p>Tags</p>
                    <md-icon class="md-secondary">2</md-icon>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Pages</md-subheader>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE7F9;</md-icon>
                    <p>Pages Feed</p>
                    <div class="md-secondary">2</div>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
                    <p>Like Pages</p>
                    <div class="md-secondary">20+</div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <md-toolbar class="desktop">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
                <md-tooltip>Open Navigation Panel</md-tooltip>
                <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Icon">
                <md-tooltip>User</md-tooltip>
               <!-- <md-icon class="md-default-theme" md-svg-icon="/img/fb.svg"></md-icon> -->
            </md-button>
            <h2>
                <span class="logo"> <a ui-sref="intro">ILC</a></span>
            </h2>
            <md-input-container md-no-float class="md-accent" flex="50" style="padding-bottom:0px;margin-left:25px">
                <md-icon style="color:wheat; margin-top: 15px;" class="material-icons">&#xE8B6;</md-icon>
                <input ng-model="searchInput" placeholder="Search here" style="color:wheat;padding-left:25px;margin-left:5px; margin-top: 15px;">
            </md-input-container>
            <span flex></span>

            <md-button class="md-raised md-warn" aria-label="question" ng-show="user._id">
                <a ui-sref="ask">Ask your question</a>
            </md-button>
            <md-button class="md-icon-button" aria-label="User">
                <md-tooltip>User</md-tooltip>
                <a ui-sref="profile"><img src="/img/user.png" style="width:24px;height:24px;"/></a>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="tablet">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
                <md-tooltip>Open Navigation Panel</md-tooltip>
                <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Icon">
                <md-tooltip>User</md-tooltip>
               <!-- <md-icon class="md-default-theme" md-svg-icon="/img/fb.svg"></md-icon>-->
            </md-button>
            <h2>
                <span style="color:white">ILC</span>
            </h2>
            <md-input-container md-no-float class="md-accent" flex="50" style="padding-bottom:0px;margin-left:25px">
                <md-icon style="color:wheat" class="material-icons">&#xE8B6;</md-icon>
                <input ng-model="searchInput" placeholder="Search here" style="color:wheat;padding-left:25px;margin-left:5px">
            </md-input-container>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="User">
                <md-tooltip>User</md-tooltip>
                <a ui-sref="profile"><img src="/img/user.png" style="width:24px;height:24px;"/></a>
            </md-button>
            <md-button class="md-icon-button" aria-label="Messages">
                <md-tooltip>Messages</md-tooltip>
                <a ui-sref="ask"> <img src="/img/messages.png" style="width:24px;height:24px;"/> </a>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="mobile">
        <div class="md-toolbar-tools" data-ng-show="showMobileMainHeader">
            <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
                <md-tooltip>Open Navigation Panel</md-tooltip>
                <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Icon">
                <md-tooltip>Logo</md-tooltip>
                <!--<md-icon class="md-default-theme" md-svg-icon="/img/fb.svg"></md-icon>-->
            </md-button>
            <h2>
                <span style="color:white">ILC</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Search" data-ng-click="showMobileMainHeader = false">
                <md-tooltip>Search</md-tooltip>
                <md-icon class="material-icons">&#xE8B6;</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="User">
                <md-tooltip>User</md-tooltip>
                <a ui-sref="profile"><img src="/img/user.png" style="width:24px;height:24px;"/></a>
            </md-button>
            <md-button class="md-icon-button" aria-label="Messages">
                <md-tooltip>Messages</md-tooltip>
                <a ui-sref="ask"> <img src="/img/messages.png" style="width:24px;height:24px;"/> </a>
            </md-button>
        </div>
        <div class="md-toolbar-tools" data-ng-hide="showMobileMainHeader">
            <md-button class="md-icon-button" aria-label="Back" data-ng-click="showMobileMainHeader = true">
                <md-tooltip>Back</md-tooltip>
                <md-icon class="material-icons">&#xE5C4;</md-icon>
            </md-button>
            <md-input-container md-no-float class="md-accent" style="padding-bottom:0px;">
                <input ng-model="searchInput" placeholder="Search here" style="color:wheat;">
            </md-input-container>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Search">
                <md-tooltip>Search</md-tooltip>
                <md-icon class="material-icons">&#xE163;</md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>

<div ui-view></div>