<div ng-show="hideNotification">
    <div class="md-dialog-container" id="myDialog">
        <md-dialog layout-padding style="width:50%">
            <md-toolbar class="custom-toolbar">
                <span>ANNOUNCEMENT !!!</span>
            </md-toolbar>
            <p>

                ILC is launching it's first offline
                centre in <code> <a href="https://goo.gl/maps/RRaGWAhfbkC2" target="_blank">(Greater Noida West).</a></code> We are starting fresh
                batches for CBSE VI-XII from April 2018.  With IITian faculties,
                smart classes, regular tests, small batches and personalized
                attention, we are committed to provide best learning experience.
                <br/><br/>
                Registrations are open for all classes from March onward. To ensure the quality and efficiency, we will be taking limited admission based on first come first serve basis.

            </p>
            <md-dialog-actions layout="row">
                <md-button ui-sref="profile" class="md-raised" md-autofocus disabled>
                    Get Started
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>


<section class="hero" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right navicon">
                <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center inner">
                <div class="animatedParent">
                    <h1>Integrated Learning Center</h1>
                    <p class="animated fadeInUp text-between">Keep Learning</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <a ui-sref="home" class="learn-more-btn btn-scroll">Ask Your Question</a>
            </div>
        </div>
    </div>
</section>


<!-- Navigation -->
<div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="site-logo">
                        <a ui-sref="intro" class="brand">ILC</a>
                    </div>
                </div>


                <div class="col-md-10">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#intro" ng-click="goTo($event)">Home</a></li>
                            <li><a href="#service" ng-click="goTo($event)">Services</a></li>
                            <li><a href="#about" ng-click="goTo($event)">About Us</a></li>
                            <li><a href="#contact" ng-click="goTo($event)" >Contact</a></li>
                            <li ng-if="isAuthenticated()"><a ui-sref="profile">Profile</a></li>
                            <li ng-if="!isAuthenticated()"><a ui-sref="login">Login</a></li>
                            <li ng-if="isAuthenticated()"><a ui-sref="logout">Logout</a></li>
                        </ul>
                    </div>
                    <!-- /.Navbar-collapse -->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</div>
<!-- /Navigation -->
<!-- Section: services -->
<section id="service" class="home-section color-dark bg-gray">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div>
                    <div class="section-heading text-center">
                        <h2 class="h-bold">What we can do for you</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center">
        <div class="container">

            <div class="row animatedParent">
                <div class="col-md-4">
                    <div class="animated rotateInDownLeft slow">
                        <div class="service-box">
                            <div class="service-icon">
                                <span class="fa fa-laptop fa-2x"></span>
                            </div>
                            <div class="service-desc">
                                <h5>Live Class</h5>
                                <div class="divider-header"></div>
                                <p>
                                    Get best tuition online with one to one live online tutoring. Online education with tutor for homework help, exam help, prepare for IIT JEE, CBSE, ICSE, NTSE, PSA & IMO.
                                </p>
                                <a href="#contact" ng-click="goTo($event)" class="btn btn-skin">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="animated rotateInDownLeft slower">
                        <div class="service-box">
                            <div class="service-icon">
                                <span class="fa fa-question fa-2x"></span>
                            </div>
                            <div class="service-desc">
                                <h5>Ask A question</h5>
                                <div class="divider-header"></div>
                                <p>
                                    Ask A Question is a unique platform through which students can ask questions and we answer them. Students can ask questions either through our forum or live sessions.
                                </p>
                                <a ui-sref="home"  class="btn btn-skin">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="animated rotateInDownLeft">
                        <div class="service-box">
                            <div class="service-icon">
                                <span class="fa fa-book fa-2x"></span>
                            </div>
                            <div class="service-desc">
                                <h5>Learning Material</h5>
                                <div class="divider-header"></div>
                                <p>
                                    We provides the best comprehensive study material and preparation book with thousands of solved examples,
                                </p>
                                <a href="#contact" ng-click="goTo($event)" class="btn btn-skin">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: about -->
<section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="animatedParent">
                    <div class="section-heading text-center animated bounceInDown">
                        <h2 class="h-bold">About Us</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">


        <div class="row">


            <div class="col-lg-8 col-lg-offset-2 animatedParent">
                <div class="text-center">
                    <p>
                        We,at Integrated Learning Centre, attempt to provide an alternative to traditional education system with the help of technology. A place where we thrive to achieve universal education and develop critical thinking in our children.
                        We are a team of education enthusiasts who aim at restructuring the mode of education delivery. An online platform that is affordable as well as accessible to all
                        A dedicated faculty trying to innovate with teaching methods will now be available to our children just a click away. Currently we are focusing in the field of Mathematics, Physics, Chemistry, and Biology with a future vision of delving into all the fields relevant to a child's bright future.
                    </p>
                    <a href="#contact" class="btn btn-skin btn-scroll">Learn More</a>
                </div>
            </div>


        </div>
    </div>

</section>
<!-- /Section: about -->

<!-- Section: works -->
<section id="works" class="home-section color-dark text-center bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div>
                    <div class="animatedParent">
                        <div class="section-heading text-center">
                            <h2 class="h-bold animated bounceInDown">Meet Our Experts</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="row animatedParent">
            <div class="text-center">
                <div class="container">

                    <div class="row animatedParent">
                        <div class="col-md-3">
                            <div class="animated fadeInUp slow">
                                <div class="service-box">
                                    <div class="avatar">
                                        <img src="img/avatar1.png" class="img-responsive" alt="img">
                                    </div>
                                    <div class="service-desc">
                                        <h5>Mathematico</h5>
                                        <p>
                                            is our super giant who feeds on mathematics. He believes life is meaningless without mathematics. He is cool, fun loving and a bit short tempered. Ask anything from maths he will never fail you
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="animated fadeInUp slow">
                                <div class="service-box">
                                    <div class="avatar">
                                        <img src="img/avatar3.png" class="img-responsive" alt="img">
                                    </div>
                                    <div class="service-desc">
                                        <h5>Phycot</h5>
                                        <p>
                                            is a born physicist and have a tendency to relate everything to Physics. He is a nerd and introvert. If you want to start a conversation with him, your sentence must contain word Physics in it.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="animated fadeInUp slow">
                                <div class="service-box">
                                    <div class="avatar">
                                        <img src="img/avatar2.png" class="img-responsive" alt="img">
                                    </div>
                                    <div class="service-desc">
                                        <h5>Chemilia</h5>
                                        <p>
                                            is a charm in our expert group. She is always in equilibrium with the surroundings. Chemistry is her first and last love. She is like the ionic bond who keeps the team together.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="animated fadeInUp slow">
                                <div class="service-box">
                                    <div class="avatar">
                                        <img src="img/avatar5.png" class="img-responsive" alt="img">
                                    </div>
                                    <div class="service-desc">
                                        <h5>Biomy</h5>
                                        <p>
                                            is the most humble personality you are ever going to find. If you test her DNA you will find Biology in there. She is a legend in her subject and always ready to help.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Section: contact -->
<section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="animatedParent">
                    <div class="section-heading text-center">
                        <h2 class="h-bold animated bounceInDown">Get in touch with us</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="row marginbot-80">
            <div class="col-md-8 col-md-offset-2">
                <div id="sendmessage" ng-if="showSuccess">Your message has been sent. Thank you!</div>
                <div id="errormessage" ng-if="showError"></div>
                <form id="contact-form" class="contactForm"  name="contact" ng-submit="contactUs(contact.$valid)" novalidate ng-hide="showSuccess||showError">
                    <div class="row marginbot-20">
                        <div class="col-md-6 xs-marginbot-20">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" ng-model="name" required/>
                                <div class="validation" ng-show="contact.name.$invalid && !contact.name.$pristine"> You name is required </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" ng-model="email" required/>
                                <div class="validation" ng-show="contact.email.$invalid && !contact.email.$pristine"> Enter a valid email </div>
                            </div>
                        </div>
                    </div>
                    <div class="row marginbot-20">
                        <div class="col-md-6 xs-marginbot-20">
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" ng-minlength="4" ng-model="subject" required/>
                                <div ng-show="contact.subject.$error.minlength" class="validation">Subject is too short.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Contact  Number" ng-model="phone" required/>
                                <div class="validation" ng-show="contact.phone.$invalid && !contact.phone.$pristine"> Enter a valid Phone </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" ng-minlength="20" ng-model="text" required> </textarea>
                                <div ng-show="contact.message.$error.minlength" class="validation">Message is too short.</div>
                            </div>
                            <button type="submit" class="btn btn-skin btn-lg btn-block" id="btnContactUs" ng-disabled="contact.$invalid">
                                Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</section>
<!-- /Section: contact -->


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="footer-menu">
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>